li.list-group-item:hover {
  color: rgb(255, 0, 0) !important;
  background-color: rgb(196, 0, 0);
  text-decoration: none;
}


.modal {
  width: 300px;
}
.modal-content {
  width: 300px;
}

.list-group-item {
  background-color: rgb(199, 20, 20);
  color: rgb(255, 0, 0);
  text-decoration: none;
}

