body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(106, 17, 203), rgb(37, 117, 252));
    color: white;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(50, 57, 63);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

#submit {
    background-image: linear-gradient(to right, rgb(106, 17, 203), rgb(37, 117, 252));
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 14px;
    border: none;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(37, 117, 252), rgb(106, 17, 203));
    color:aqua;
    cursor: pointer;
    font-size: 15.5px;
}


.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.inputUser:focus ~ .inputLabel,
.inputUser:valid ~ .inputLabel {
    top: -20px;
    font-size: 12px;
    color: rgb(106, 17, 203);
}

.inputLabel {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

fieldset {
    border: 3px solid rgb(37, 117, 252);
}

legend {

    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(106, 17, 203), rgb(37, 117, 252));
    border-radius: 7px;

}
