body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(86, 58, 151), rgb(64, 14, 97));
    color: white;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

#submit {
    background-image: linear-gradient(to right, rgb(86, 58, 151), rgb(64, 14, 97));
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 14px;
    border: none;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(60, 40, 107), rgb(41, 9, 63));
}


.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.inputUser:focus ~ .inputLabel,
.inputUser:valid ~ .inputLabel {
    top: -20px;
    font-size: 12px;
    color: darkorchid;
}

.inputLabel {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

fieldset {
    border: 3px solid darkorchid;
}

legend {
    border: 1px solid darkorchid;
    padding: 10px;
    text-align: center;
    background-color: darkorchid;
    border-radius: 7px;

}
